@charset 'utf-8';
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

:root {
  font-size: 62.5%;

  --green: #205c4e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}

hr,
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

body {
  font: 1.6rem/1.5 'Pretendard', sans-serif;
}

#header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: all 0.3s ease;
}

#header.header-visual {
  position: absolute;
  width: 100%;
  height: 100vh;
  inset: 0;
}

#header .header-wrap {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: start;
  justify-content: center;
}

.header-intro {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  user-select: none;
}

.intro-bg {
  position: absolute;
  inset: 0;
  background: #fff;
}

.header-intro span {
  position: absolute;
  width: 15rem;
  height: 15rem;
}

.header-intro .span1 {
  width: 16.8rem;
  top: 5%;
  left: 5%;
}

.header-intro .span2 {
  top: 5%;
  right: 5%;
}

.header-intro .span3 {
  bottom: 5%;
  left: 5%;
}

.header-intro .span4 {
  bottom: 5%;
  right: 5%;
}

.inner {
  width: 178rem;
  margin: 0 auto;
  position: static;
}

#header .head-inner {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.gnb {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

.logo {
  width: 58.3rem;
  height: 15.2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  transition: all 0.3s ease;
}

.logo a {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.logo::after {
  content: '';
  display: block;
  width: 5rem;
  height: 5rem;
  background: #000;
  position: absolute;
  top: -5rem;
  right: -5rem;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 5%;
  margin-left: auto;
  bottom: 5%;
}

.menu > li {
  position: relative;
}

.menu > li > a {
  padding: 4.6rem 1.4rem;
  /* border: 1px solid #000; */
  font-weight: 500;
  font-size: 1.7rem;
  text-transform: uppercase;
  /* border: 1px solid #000; */
}

.menu > li > a:last-child {
  padding-right: 0;
}

.sub-menu {
  position: absolute;
  width: min(150%, 20rem);
  top: 150%;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  box-sizing: content-box;
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: none;
}

.sub-menu li {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #000; */
  font-size: 1.4rem;
  text-transform: uppercase;
}

.sub-menu li a {
  padding: 1rem 2rem;
}

.hamburger-wrap {
  display: none;
}

#footer {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 6rem 0;
}

.foot-inner {
  width: 160rem;
  margin: 0 auto;
}

.foot-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.foot-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 5rem;
}

.foot-logo {
  width: 10rem;
  height: 3.2rem;
}

.adress {
  font-size: 1.45rem;
  line-height: 1.57;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 4.5px;
  color: #666;
}

.foot-etc {
  font-size: 1.45rem;
  line-height: 1.57;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 4.5px;
  color: #666;
}

.copyright {
  font-size: 1.4rem;
  color: #999;
}

.foot-menu {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  font-weight: 600;
  font-size: 1.8rem;
}

.foot-menu a {
  display: block;
  padding: 4px 0;
}

.side-btn {
  position: fixed;
  right: 2.5%;
  bottom: 5%;
}

.btn-side {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: no-repeat 50% / contain;
  border-radius: 50%;
}

.kakao {
  background-image: url(https://neezsofa.com/theme/cream/img/icon-kakao.png);
}

.top {
  margin-top: 5px;
  background-image: url(https://neezsofa.com/theme/cream/img/icon-top.png);
}
