@charset 'utf-8';
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

:root {
  font-size: 62.5%;

  --green: #205c4e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}

hr,
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

body {
  font: 1.6rem/1.5 'Pretendard', sans-serif;
}

#header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: #fff;
}

#header.on .header-wrap {
  position: relative;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  user-select: none;
  display: none;
}

.header-intro {
  position: absolute;
  inset: 0;
}

.header-intro span {
  display: none;
}

.inner {
  width: 178rem;
  margin: 0 auto;
  position: static;
}

#header .inner {
  height: 11rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gnb {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 10rem;
  height: 2.5rem;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu > li {
  position: relative;
}

.menu > li > a {
  padding: 4.6rem 1.4rem;
  /* border: 1px solid #000; */
  font-weight: 500;
  font-size: 1.7rem;
  text-transform: uppercase;
  /* border: 1px solid #000; */
}

.menu > li > a:last-child {
  padding-right: 0;
}

.sub-menu {
  position: absolute;
  width: min(150%, 20rem);
  top: 150%;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  box-sizing: content-box;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.sub-menu li {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #000; */
  font-size: 1.4rem;
  text-transform: uppercase;
}

.sub-menu li a {
  padding: 1rem 2rem;
}

.hamburger-wrap {
  display: none;
}

.visual {
  width: 100%;
  height: 100vh;
}

.product {
  padding: 12rem 0;
}

.product-wrap {
  display: flex;
  justify-content: space-between;
}

.product-banner {
  width: 73rem;
  aspect-ratio: 1/1;
  border-radius: 10px;
  background: url(https://neezsofa.com/theme/cream/img/main/main-product-bg.png) no-repeat 50% / cover;
  position: relative;
}

.product-con {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-con h3 {
  font-weight: 600;
  font-size: 3.6rem;
  color: #fff;
  white-space: nowrap;
}

.more {
  font-weight: 500;
  font-size: 2rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  transition: 0.4s;
  margin-top: 2.5rem;
  width: 18rem;
}

.more:hover {
  color: #fff;
}

.more::before {
  content: '';
  width: 5rem;
  height: 5rem;
  border: 1px solid #fff;
  background: url(../img/arrow-right-up-line.svg) no-repeat 50% / 50%;
  transition: 0.4s;
}

.more:hover::before {
  content: '';
  width: 1rem;
  transform: scaleY(0.25);
  background-color: #fff;
}

.more b {
  position: relative;
}

.more b::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: #fff;
}

.more:hover b::after {
  animation: lineAni 0.4s both;
}

@keyframes lineAni {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2.7rem;
  width: 97.5rem;
}

.product-list li {
  width: 30.7rem;
  height: 35rem;
  /* border: 1px solid #000; */
}

.product-list li figure {
  width: 100%;
  height: 21.2rem;
  position: relative;
}

.product-list li dl {
  margin-top: 2.5rem;
}

.product-list li dl dt {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.5;
}
.product-list li dl dd {
  margin-top: 2.5rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #aaa;
  text-decoration: line-through;
}
.product-list li dl dd + dd {
  margin-top: 1rem;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.5;
  color: #000;
  text-decoration: none;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 5px;
}
.product-list .badge {
  color: var(--green);
}

.info {
  padding: 37rem 0 34rem;
}

.main-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 133rem;
  height: 14.8rem;
  margin: 0 auto;
}

.title-animation {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 10rem;
}

.title-animation span {
  display: none;
}

.title-animation .nomal {
  display: block;
}

.main-title strong {
  margin-top: 12rem;
  font-weight: 600;
  font-size: 3.6rem;
  line-height: 1.4;
}

.more-b {
  display: flex;
  margin-top: 9.6rem;
  color: #000;
}

.more-b:hover {
  color: #000;
}

.more-b::before {
  border: 1px solid rgba(0, 0, 0, 1);
  background-image: url(../img/arrow-right-up-black.svg);
}

.more-b b::after {
  background-color: #000;
}

.more-b:hover::before {
  background-color: #000;
}

.material {
  padding: 24rem 0 0;
}

.material-bg {
  width: 100%;
  aspect-ratio: 1/1;
  max-height: 120rem;
  background: url(https://neezsofa.com/theme/cream/img/main/main-huvis-bg.jpg) no-repeat 50% / cover;
  position: relative;
}

.material-con {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.material-con p {
  font-weight: 600;
  font-size: 2rem;
  color: #fff;
}

.material-con h2 {
  font-weight: 500;
  font-size: 20rem;
  color: #fff;
}

.store-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.store-wrap figure {
  width: 50%;
  height: 76.8rem;
}

.store-wrap figure img {
  object-fit: cover;
}

.store-con {
  margin-top: 40rem;
  margin-left: 9.525rem;
}

.store-con p {
  font-weight: 600;
  font-size: 2rem;
}

.store-more {
  margin-top: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.5rem;
}

.store-con h2 {
  font-weight: 500;
  font-size: 16rem;
  line-height: 1;
}

.store-more .more {
  margin-top: 4rem;
}

#footer {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 6rem 0;
}

.foot-inner {
  width: 160rem;
  margin: 0 auto;
}

.foot-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.foot-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 5rem;
}

.foot-logo {
  width: 10rem;
  height: 3.2rem;
}

.adress {
  font-size: 1.45rem;
  line-height: 1.57;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 4.5px;
  color: #666;
}

.foot-etc {
  font-size: 1.45rem;
  line-height: 1.57;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 4.5px;
  color: #666;
}

.copyright {
  font-size: 1.4rem;
  color: #999;
}

.foot-menu {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  font-weight: 600;
  font-size: 1.8rem;
}

.foot-menu a {
  display: block;
  padding: 4px 0;
}

.side-btn {
  position: fixed;
  right: 2.5%;
  bottom: 5%;
}

.btn-side {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: no-repeat 50% / contain;
  border-radius: 50%;
}

.kakao {
  background-image: url(https://neezsofa.com/theme/cream/img/icon-kakao.png);
}

.top {
  margin-top: 5px;
  background-image: url(https://neezsofa.com/theme/cream/img/icon-top.png);
}
